<div class="thread-section">
    <div class="thread-count">
            <span>
                <span>Unread threads: </span>
                <span>2</span>
            </span>
    </div>
    <ul class="thread-list">
        <li class="thread-list-item">
            <h5 class="thread-name">Jing and Bill</h5>
            <div class="thread-time">10:43:25 AM</div>
            <div class="thread-last-message">Sounds good. Will they be serving dessert?</div>
        </li>
        <li class="thread-list-item">
            <h5 class="thread-name">Dave and Bill</h5>
            <div class="thread-time">10:43:45 AM</div>
            <div class="thread-last-message">Totally! Meet you at the hotel bar.</div>
        </li>
        <li class="thread-list-item active">
            <h5 class="thread-name" >Bill and Brian</h5>
            <div class="thread-time">10:44:05 AM</div>
            <div class="thread-last-message">At ForwardJS? Yeah, of course. See you there!</div>
        </li>
    </ul>
</div>