<header class="l-header v-center-parent">
    <img class="v-center" routerLink="home"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

    <ul class="top-menu disable-text-selection">
        <li class="menu-entry">
            <a routerLink="home" href="/">Home</a>
        </li>
        <li class="menu-entry">
            <a routerLink="about" href="/">About</a>
        </li>
    </ul>


</header>

<messages></messages>

<div class="chatapp">

        <router-outlet></router-outlet>

</div>