<header class="l-header v-center-parent">
    <img class="v-center" routerLink="home"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</header>


<div class="chatapp" data-reactid=".0">
    <div class="thread-section" data-reactid=".0.0">
        <div class="thread-count" data-reactid=".0.0.0"><span data-reactid=".0.0.0.0"><span data-reactid=".0.0.0.0.0">Unread threads: </span><span
                data-reactid=".0.0.0.0.1">2</span></span></div>
        <ul class="thread-list" data-reactid=".0.0.1">
            <li class="thread-list-item" data-reactid=".0.0.1.$t_1"><h5 class="thread-name"
                                                                        data-reactid=".0.0.1.$t_1.0">Jing and Bill</h5>
                <div class="thread-time" data-reactid=".0.0.1.$t_1.1">10:43:25 AM</div>
                <div class="thread-last-message" data-reactid=".0.0.1.$t_1.2">Sounds good. Will they be serving
                    dessert?
                </div>
            </li>
            <li class="thread-list-item" data-reactid=".0.0.1.$t_2"><h5 class="thread-name"
                                                                        data-reactid=".0.0.1.$t_2.0">Dave and Bill</h5>
                <div class="thread-time" data-reactid=".0.0.1.$t_2.1">10:43:45 AM</div>
                <div class="thread-last-message" data-reactid=".0.0.1.$t_2.2">Totally! Meet you at the hotel bar.</div>
            </li>
            <li class="thread-list-item active" data-reactid=".0.0.1.$t_3"><h5 class="thread-name"
                                                                               data-reactid=".0.0.1.$t_3.0">Bill and
                Brian</h5>
                <div class="thread-time" data-reactid=".0.0.1.$t_3.1">10:44:05 AM</div>
                <div class="thread-last-message" data-reactid=".0.0.1.$t_3.2">At ForwardJS? Yeah, of course. See you
                    there!
                </div>
            </li>
        </ul>
    </div>
    <div class="message-section" data-reactid=".0.1"><h3 class="message-thread-heading" data-reactid=".0.1.0">Bill and
        Brian</h3>
        <ul class="message-list" data-reactid=".0.1.1">
            <li class="message-list-item" data-reactid=".0.1.1.$m_6"><h5 class="message-author-name"
                                                                         data-reactid=".0.1.1.$m_6.0">Bill</h5>
                <div class="message-time" data-reactid=".0.1.1.$m_6.1">10:43:55 AM</div>
                <div class="message-text" data-reactid=".0.1.1.$m_6.2">Hey Brian, are you going to be talking about
                    functional stuff?
                </div>
            </li>
            <li class="message-list-item" data-reactid=".0.1.1.$m_7"><h5 class="message-author-name"
                                                                         data-reactid=".0.1.1.$m_7.0">Brian</h5>
                <div class="message-time" data-reactid=".0.1.1.$m_7.1">10:44:05 AM</div>
                <div class="message-text" data-reactid=".0.1.1.$m_7.2">At ForwardJS? Yeah, of course. See you there!
                </div>
            </li>
        </ul>
        <textarea class="message-composer" name="message" data-reactid=".0.1.2"></textarea></div>
</div>