<header class="l-header v-center-parent">
    <img class="v-center" routerLink="home"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

    <ul class="top-menu disable-link-styles">
        <li>
            <a routerLink="multi-actor"
               routerLinkActive="menu-active">Multi-Actor Modification</a>
        </li>
        <li>
            <a routerLink="form"
               routerLinkActive="menu-active">Form</a>
        </li>
        <li>
            <a routerLinkActive="menu-active" routerLink="master-detail">Master Detail</a>
        </li>
    </ul>

    <router-outlet></router-outlet>

</header>
