/**
 * This file is provided by Facebook for testing and evaluation purposes
 * only. Facebook reserves all rights not expressly granted.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * FACEBOOK BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
 * AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
 * CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */

.chatapp {
    font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
    max-width: 670px;
    margin: 20px;
    overflow: hidden;
}

.message-list, .thread-list {
    border: 1px solid rgba(26, 141, 246, 0.38);
    border-radius: 4px;
    font-size: 16px;
    height: 325px;
    margin: 0;
    overflow-y: auto;
    padding: 0;
}

.message-section {
    float: right;
    width: 265px;
}

.thread-section {
    float: left;
    width: 265px;
}

.message-thread-heading,
.thread-count {
    height: 40px;
    margin: 10px 0;
}

.unread-messages-counter.unread {
    border: 4px solid red;
    padding: 1px 0px;
}

.message-list-item, .thread-list-item {
    list-style: none;
    padding: 12px 14px 14px;
}

.thread-list-item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.thread-list-item.selected {
    background-color: #1976d2 !important;
    color: white;
    font-weight: bold;
}

.thread-list-item.selected .thread-name  {
    color: white;
    font-weight: bold;
}


.thread-list-item.selected:hover {
    background-color: #1976d2 !important;
}

.thread-name.selected {
    text-decoration: underline;
}

.thread-name.unread {
    color: red;
    font-weight: bold;
}

.thread-list:hover .thread-list-item:hover {
    background-color: #f8f8ff;
}

.thread-list:hover .thread-list-item {
    background-color: #fff;
}

.thread-list-item.active,
.thread-list:hover .thread-list-item.active,
.thread-list:hover .thread-list-item.active:hover {
    background-color: #e2e2e2;
    cursor: default;
}

.message-author-name,
.thread-name {
    color: #1976d2;
    float: left;
    font-size: 13px;
    margin: 0;
    font-weight: normal;
}

.message-time, .thread-time {
    color: #1976d2;
    float: right;
    font-size: 12px;
}

.message-text, .thread-last-message {
    clear: both;
    font-size: 14px;
    padding-top: 10px;
}

.message-composer {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    height: 5em;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
}


